[submodule "oxideauth-macros"]
	path = oxideauth-macros
	url = git@github.com:subaquatic-pierre/ironstone-macros.git
[submodule "oxideauth"]
	path = oxideauth
	url = git@github.com:subaquatic-pierre/oxideauth-api.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:subaquatic-pierre/oxideauth-dashboard.git
