[submodule "macros"]
	path = macros
	url = git@github.com:subaquatic-pierre/oxideauth-macros.git
[submodule "api"]
	path = api
	url = git@github.com:subaquatic-pierre/oxideauth.git
[submodule "dashboard"]
	path = dashboard
	url = git@github.com:subaquatic-pierre/oxideauth-dashboard.git
[submodule "docs"]
	path = docs
	url = git@github.com:subaquatic-pierre/oxideauth-docs.git
